@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=League+Spartan:wght@100..900&display=swap');

* {
  font-family: 'League Spartan', sans-serif;
  font-weight: 200;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --prime: #ff4500;
  --dark: #111;
  --grey-dk: #333;
  --grey-lg: #ccc;
  --light: #eee;
}

body {
  background-color: var(--dark);
  color: var(--light);
}

p {
  line-height: 1.8;
  font-size: 16px;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 5px 0;
}

.markdown {
  border-right: 2px dotted var(--grey-lg);
  height: 100vh;
  padding: 15px;
}

.textarea {
  background-color: transparent;
  padding: 16rem;
  border-radius: 5px;
  border: 2px dotted var(--grey-lg);
  width: 100%;
  outline: none;
  /* overflow: hidden; */
  font-size: 18px;
  height: 100vh;
}

.preview {
  padding: 15px;
}

.preview-heading {
  font-size: 18px;
  padding-bottom: 15px;
  border-bottom: 2px dotted var(--grey-lg);
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 25px;
}

code {
  font-family: 'Azeret Mono', monospace;
  background-color: #333;
  width: 100px;
  padding: 5px;
  border-radius: 5px;
}

a {
  color: #ff4500;
  text-decoration: none;
  cursor: pointer;
}

